h1{
    text-align: center;
    color: rgb(73, 153, 245);
    font-size: 68px;
    font-style: italic;
    background-color: darkblue;
    padding: 40;

}

body{
    font-size:larger;

}

.imagem{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    border-color: rgb(73, 153, 245);
    border-radius: 40px;
    border-style: initial;

}

ul{
    background-color:rgb(22, 34, 143);
}

.contato {

    background-color:dodgerblue;
    width: 70%;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

.texto{
    background-color: rgb(4, 8, 255);
    width: 70%;
    border-radius: 30px;
    margin:auto;

}





